# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment Variables
.env
backend/.env
frontend/.env
*.env.local

# Builds
dist/
build/
frontend/dist/



# Uploads & Temporary Media
backend/uploads/*
!backend/uploads/.gitkeep
backend/outputs/*
!backend/outputs/.gitkeep

# Logs & System
*.log
.DS_Store
*.zip
*.tar.gz
backend/gcp_key.json
backend/storage/
deploy_package/

