# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment Variables
.env
backend/.env
frontend/.env
production.env
*.env
*.env.local

# Builds
build/
!frontend/dist/



# Uploads & Temporary Media
backend/uploads/*
!backend/uploads/.gitkeep
backend/outputs/*
!backend/outputs/.gitkeep
uploads/*
!uploads/.gitkeep
outputs/*
!outputs/.gitkeep
backend/backend/
tmp/
tmp/*
tests_and_samples/sample_outputs/*
!tests_and_samples/sample_outputs/.gitkeep
tests_and_samples/intermediate_clips/*
!tests_and_samples/intermediate_clips/.gitkeep

# Logs & System
*.log
.DS_Store
*.zip
*.tar.gz
*gcp_key.json
backend/gcp_key.json
backend/storage/
deploy_package/


